@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/rnCr-xNNww_2s0amA9M5kn0.ttf) format('truetype');
}
@font-face {
  font-family: 'Spectral';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/rnCs-xNNww_2s0amA9uCt23BafM.ttf) format('truetype');
}
