@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/SZc43FDmLaWmWpBuWB3s.ttf) format('truetype');
}
@font-face {
  font-family: 'Lekton';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/SZc73FDmLaWmWpBm4zj8kmLT.ttf) format('truetype');
}
